* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#root {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  min-width: 400px;
}

.chef-claude-logo {
  width: 100px;
  height: 100px;
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.chef-claude-brand-text {
  font-weight: 400;
  font-size: 2rem;
}

.chef-claude-brand-link {
  color: #0e1111;
  text-decoration: none;
}

nav {
  transition: transform .5s;
}

nav:hover {
  transform: rotate(-3deg);
}

.ingredient-add-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.ingredient-add-button, .ingredient-remove-button, .recipe-generate-button  {
  font-family: Inter, sans-serif;
  padding: .35rem;
  background-color: #0e1111;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.ingredient-remove-button {
  background-color: #BF1111;
  margin-right: 1rem;
  color: #F8F8F8;
  flex-grow: 0;
}

.ingredient-add-button:hover, .ingredient-remove-button:hover, .recipe-generate-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.ingredient-add-form > input {
  flex-grow: .8;
  padding: .25rem;
  border-radius: 8px;
}

.ingredient-list-div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ingredient-list-item {
  margin-left: 2rem;
  overflow-wrap: break-word;
}

.generated-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .25rem;
}

.generated-recipe {
  padding: 2rem;
}

.generated-recipe > h3 {
  text-align: center;
  padding-top: 1rem;
}

.generated-recipe > h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.generated-recipe >  ul > li,
.generated-recipe >  ol > li {
  padding-bottom: .50rem;
}

.ingredient-on-hand {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}

footer > small > a {
  color: black;
}

